/*!!!!!!!!!!!! Fisrt mobile *!!!!!!!!!!!!!!!/

/* This element hide all content used opacity*/
.hide-body-active {
  display: block;
  position: fixed;
  background-color: #6B6464;
  height: 100vh;
  width: 100%;
  z-index: 1;
  opacity: 0.1;
}

.body-active {
  display: none;
}
.nav {
  max-width: 1400px;
  background-color: #222;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin: 5px 0px 5px 5px;
  transition: 0.5s;
  float: left;
}

.logo img {
  transition: 1s;
}

.text-logo {
  text-align: center;
  font-size: 14px;
  font-family: "Arial Black";
  color: white;
  float: left;
  margin: 20px 0px 0px 10px;
  transition: 0.5s;
}

.glyphicon-search {
  color: white;
  float: right;
  padding: 20px;
  font-size: 20px;
}

.glyphicon-search:hover {
  cursor: pointer;
}

.glyphicon-search-vissible {
  background-color: white;
  color: #000;
  float: right;
  z-index: 2;
}

.search-mobile-tablet {
  position: absolute;
  height: 50px;
  background-color: white;
  top: 60px;
  width: 232px;
  right: 0px;
  z-index: 2;
}

.search-mobile-tablet input{
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
}

/* Sugestion search*/

.arrow-suggestion-hide {
  display: none;
}

.arrow-suggestion {
  position: absolute;
  top: 50px;
  display: block;
  left: 10%;
}

.sugestion-search-hide{
  display: none;
}

.sugestion-search {
  display: block;
  max-height: 180px;
  overflow: auto;
  background-color:rgb(231, 231, 231);
  color: gainsboro;
  position: absolute;
  z-index: 1;
  top: 70px;
  width: 80%;
  left: 10%;
  right: 10%;
  box-shadow: 0 0 15px gray;
  text-align: center
}
.content-suggestion{
  background-color:rgb(231, 231, 231);
  padding-top: 10px;
  filter: brightness(100%);
  transition: all .3s ease-in-out;
}
.content-suggestion:hover{
  filter: brightness(70%);
  transition: all .3s ease-in-out;
}

.sugestion-search a {
  color: black;
}

.sugestion-search a:hover {
  text-decoration: unset;
}

.underline-sugesstion{
  height: 1px;
  width: 100%;
  background-color: whitesmoke;
  margin-top: 10px;
}

.show-more p {
  color: blue;
}

/* Button for mobile */

.button-mobile-tablet {
  cursor: pointer;
  position: relative;
  float: right;
  padding: 10.5px;
}

.change {
  z-index: 2;
  background-color: white;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color:black;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: black;
}

.button-text {
  display: none;
}

.button-text-change{
  display: none;
}

/*!!!!!!!! Section attributes navigation !!!!!!!!!*/

.nav-options{
  display: none;
}

.nav-options-vissible{
  position: absolute;
  display: block;
  background-color: white;
  top: 60px;
  right: 0px;
  width: 250px;
  transition: 1s;
  z-index: 2;
}

/* Set location or Language */

.text-hide-location-and-language {
  display: none;
}

.change-settings-language-or-location {
  
  display: none;
}

.change-settings-language-or-location-vissible {
  display: block;
  background-color: #f5f5f5;
  width: 350px;
  position: absolute;
  padding: 10px;
  z-index: 2;
  right: 0px;
  top: 50px;
  padding-right: 20px;
}

.language-or-location-checkbox {
  height: 20px;
}

.form-country-and-language {
  height: 40px;
  border-radius: 3px;
  font-weight: bold;
}

.location {
  font-size: 12px;
  font-family: Arial;
  overflow: auto;
}

.language-or-location-title{
  text-align: left;
  margin-left: 14px;
  font-size: 18px;
  color: #666;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

.remember-settings {
  margin-top: 10px;
}

.language-or-location-checkbox-text {
  text-align: left;
  font-size: 12px;
  margin-top: 4px;
}

.language-or-location-button-submit {
  margin-top: 15px;
  padding: 10px;
  border: 2px solid #ffad00;
  border-radius: 5px;
  background-color: #ffad00;
  font-weight: bold;
}

/* Section help and Contact */

.section-help-contact {
  color: white;
  position: absolute;
  background-color: #f5f5f5;
  top: 20px;
  width: 350px;
  z-index: 2;
  right: 0px;
}
.section-help-contact img {
  float: left;
  margin: 5px 5px 0px 25px;
}
.section-help-contact a {
  float: left;
  color: #414e63;
  margin-top: 2px;
}

.section-help-contact a:hover {
  text-decoration: unset;
}

.section-help-contact div p {
  background-color: darkgray;
  width: 350px;
  height: 2px;
  float: right;
}

/*Section Miles & More*/
.section-miles-more{
  color: white;
  position: absolute;
  background-color: #f5f5f5;
  top: 0px;
  width: 350px;
  z-index: 2;
  right: 0px;
}

.section-miles-more img {
  float: left;
  margin: 5px 5px 0px 25px;
}
.section-miles-more a {
  float: left;
  color: #414e63;
  margin-top: 2px;
}

.section-miles-more a:hover {
  text-decoration: unset;
}

.section-miles-more a:focus {
  text-decoration: unset;
}

/* Section Presentation */ 

.presentation img {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) { 
  .logo {
    margin: 10px 0px 10px 10px;
  }

  .logo img {
    height: 75px;
    width: 75px;
  }
  
  .text-logo {
    font-size: 20px;
    margin: 35px 0px 0px 20px;
  }
  
  /*  Button mobile tablet*/
  .button-mobile-tablet {
    padding: 28px;
  }

  .button-text {
    display: block;
    color: white;
    margin-top: 9px;
    padding-left: 2px;
  }

  .button-text-change {
    color: black;
    margin-top: 9px;
    padding-left: 2px;
    display: block;
  }

  .change-settings-language-or-location-vissible {
   top: 87px;
  }

  .glyphicon-search {
    font-size: 30px;
    padding: 32px;
  }

  .glyphicon-search-vissible {
    padding: 32px;
  }

  .search-mobile-tablet {
    top: 95px;
    width: 440.06px;
    height: 100px;
  }

  .search-mobile-tablet input {
    height: 50px;
    font-size: 20px;
    margin-top: 25px;
  }

  .arrow-suggestion {
    top: 100px;
  }

  .sugestion-search {
    top: 120px;
  }
  /* Section help and Contact */

.section-help-contact {
  top: 55px;
}

.section-miles-more {
  top: 35px;
}
}

@media only screen and (min-width: 1024px) { 
  .logo {
    margin: 20px 0px 20px 40px;
  }

  .logo img {
    height: 100px;
    width: 100px;
  }
  
  .text-logo {
    font-size: 30px;
    margin: 50px 0px 0px 30px;
  }

  .button-mobile-tablet {
    display: none;
  } 

  .glyphicon-search {
    display: none;
  }

  /*!!!!!!!! Section attributes navigation !!!!!!!!!*/

.nav-options {
  display: block;
  color: white;
  float: right;
  margin: 10px 10px 0px 0px;
}

.nav-options-vissible {
  position: static;
  display: block;
  color: black;
  background-color: white;
  float: right;
  width: unset;
  margin: 10px 10px 0px 0px;
  z-index: 2;
}

/* Language or Location */

.section-location-language {
  padding: 5px;
  float: left;
  color: white;
}

.section-location-language-vissible {
  position: relative;
  float: left;
  text-align: center;
  width: unset;
  opacity: 1;
  padding: 5px;
  z-index: 2;
  color: black;
  background-color: white;
}

.text-hide-location-and-language {
  display: block;
  opacity: 0.7;
  margin-bottom: 0px;
}

.text-hide-location-and-language:hover {
  opacity: 1;
  cursor: pointer;
}

.change-settings-language-or-location-vissible {
  color: black;
  top: 30px;
  position: absolute;
  background-color: white;
}

.form-country-and-language {
  width: 145px;
}

.language-or-location-button-submit {
  width: 100px;
}

/*Section help and contact*/
.section-help-contact {
  float: left;
  opacity: 0.7;
  padding: 5px;
  background-color: unset;
  width: unset;
  height: unset;
  position: static;
}

.section-help-contact:hover {
  opacity: 1;
  cursor: pointer;
}

.section-help-contact a {
  color: white;
  margin-top: 0px;
}

/* Section miles more*/ 

.section-miles-more {
  float: left;
  opacity: 0.7;
  padding: 5px;
  background-color: unset;
  width: unset;
  height: unset;
  position: static;
}
.section-miles-more:hover {
  opacity: 1;
  cursor: pointer;
}

.section-miles-more a {
  color: white;
  margin-top: 0px;
}

/*Section search input*/

.search {
  float: left;
  padding: 5px;
  background-color: unset;
  width: unset;
  height: unset;
  position: relative;
  top: unset;
  right: unset;
}

.search p:hover  {
  cursor: pointer;
  opacity: 1;
}

.hide-input-search{
  display: none;
}

.input-search {
  transition: width 0.5s;
  width: 0px;
  display: block;
  float: left;
}

.input-search:focus {
  transition: 0.5s linear;
  width: 180px;
  color: black;
}

.text-search {
  margin: 0px;
  padding: 0px;
  opacity: 0.7;
  margin-left: 25px;
}

.text-search:hover {
  opacity: 1;
}

.set-icon-search {
  display: none;
}

.set-icon-search-input-hide {
  display: none;
}

.set-icon-search-input-show {
  float: right;
  display: block;
  margin-left: 5px;
  margin-top: 4px;
}

.arrow-suggestion {
  top: 35px;
  left: unset;
  right: unset;
}

.sugestion-search {
  top: 55px;
  width: 180px;
  left: unset;
  right: unset;
}
}


